<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoCompleteTextField.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4A0FDC21F49D9F500A703A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4A0FDD91F49D9F600A703A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4A0FDE41F49D9F600A703A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
